<!DOCTYPE html>
<html>
<head>
    <title>ToDoList</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <script src="/js/actions.js"></script>
    <script>
        function signOut() {
            window.location.href = "http://localhost:8080";
        }
    </script>
</head>
<body>
<h1>{username}</h1>
<div class="button-container">
    <button onclick="openPopup('addActionPopup')" class="popup-button">Add Action</button>
    <button onclick="signOut()" class="popup-button">Sign Out</button>
</div>
<input type="hidden" id="username" value="{username}">
<table>
    <thead>
    <tr>
        <td>Created Date</td>
        <td>Description</td>
        <td>Status</td>
    </tr>
    </thead>
    <tbody>
    {#for action in actions}
        <tr onclick="openEditPopup('{action.actionId}', '{action.description}', '{action.status}')">
        <td>{action.createdDate}</td>
        <td class="description-column">{action.description}</td>
        <td class="status-{action.status}">{action.status}</td>
        </tr>
    {/for}
    </tbody>
</table>

<div id="addActionPopup" class="popup">
    <div class="popup-content">
        <h2>Add Action</h2>
        <input type="text" id="actionDescription" placeholder="Enter Description" required>
        <div class="button-container">
            <button onclick="addAction()" class="popup-button">Add</button>
            <button onclick="closePopup('addActionPopup')" class="popup-button">Cancel</button>
        </div>
    </div>
</div>

<div id="editActionPopup" class="popup">
    <div class="popup-content">
        <h2>Edit</h2>
        <input type="hidden" id="editActionId">
        <input type="text" id="editActionDescription" placeholder="Enter Description" required>
        <label for="editActionStatus">Status:</label>
        <select id="editActionStatus">
            <option value="NEW">NEW</option>
            <option value="INPROGRESS">INPROGRESS</option>
            <option value="DONE">DONE</option>
        </select>
        <button onclick="updateAction()" class="popup-button">Update</button>
        <button onclick="closePopup('editActionPopup')" class="popup-button">Cancel</button>
    </div>
</div>
</body>
</html>